[submodule "TorchInference"]
	path = TorchInference
	url = git@github.com:mtmal/TorchInference.git
[submodule "CSI-Camera"]
	path = CSI_Camera
	url = git@github.com:mtmal/Jetson-Stereo-CSI-Camera.git
[submodule "JetRacer"]
	path = JetRacer
	url = git@github.com:mtmal/jetracer_cpp.git
[submodule "JetracerUtils"]
	path = JetracerUtils
	url = git@github.com:mtmal/JetracerUtils.git
[submodule "OLED-0.91in-Cpp"]
	path = OLED-0.91in-Cpp
	url = git@github.com:mtmal/OLED-0.91in-Cpp.git
[submodule "I2C"]
	path = I2C
	url = git@github.com:mtmal/I2C.git
